imblearn
joblib
keras
matplotlib
matplotlib-inline
mlxtend
numpy
pandas
scikit-image
scikit-learn
scikit-learn-intelex
scipy==1.10.0
seaborn
streamlit
statsmodels
warnings
xgboost
ydata_profiling
