imblearn
joblib
keras
matplotlib
matplotlib-inline
mlxtend
numpy
pandas
scikit-image
scikit-learn==1.2.2
scikit-learn-intelex
scipy==1.10.0
seaborn
streamlit
statsmodels
tensorflow
xgboost
ydata_profiling
